.parallax-container {
    height: 35rem;
}

.profile_pic {
    width: 20rem;
    height: 20rem;
}

.parallax img{
    max-width: 100%;
}

@media (max-width: 1400px) {
    .parallax-container {
        height: 25rem;
    }

    .profile_pic {
        width: 13rem;
        height: 13rem;
    }
}

@media (max-width: 550px) {
    .parallax-container {
        height: 15rem;
    }

    .profile_pic {
        width: 5rem;
        height: 5rem;
    }

    .card-panel {
        padding: 5px;
    }

    .card-panel p{
        font-size: 14px;
    }

}
